<launch>
    <rosparam command="load" file="$(find mv_rgb_camera)/config/mv_camera_calibration.yaml" />
    <node pkg="mv_rgb_camera" type="mv_rgb_camera" name="mv_camera">
        <param name="fps" value="15"/>
    </node>
    
    <node pkg="helios_camera" type="helios_camera" name="cam"/>
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 -0.500 0.500 -0.500 0.500 world helios_frame 100" />
</launch>
